html {
    font-family: Inter;
    font-family: Krona One;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 15.6px */
}

button {
    cursor: pointer;
  }

  .force-relative{
    position: relative !important;
  }